body {
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

#status {
  margin-top: 20px;
  font-size: 20px;
  color: #444;
}

#hasil {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}
