body {
  font-family: Arial;
  padding: 30px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: #eee;
}

